<div>
  <h1>New Question</h1>

  <form (submit)="questionSubmit()">
    <label>Question:</label>
    <textarea 
    name="content" 
    cols="50" 
    rows="8" 
    minlength="15" 
    required
    [(ngModel)]="question.content"
    #content="ngModel">
    </textarea>
    <br><br>

    <label>Correct Answer:</label>
    <input 
    type="text" 
    name="answer"
    required
    [(ngModel)]="question.answer"
    #answer="ngModel">
    <br><br>

    <label>Fake Answer 1:</label>
    <input 
    type="text" 
    name="fake1"
    required
    [(ngModel)]="question.fake1"
    #fake1="ngModel">
    <br><br>

    <label>Fake Answer 2:</label>
    <input 
    type="text" 
    name="fake2"
    required
    [(ngModel)]="question.fake2"
    #fake2="ngModel">
    <br><br>

    <input type="submit" value="Add Question">
  </form>

</div>
